alabaster==1.0.0
babel==2.16.0
black==24.3.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
coverage==7.6.1
Cython==3.0.11
docutils==0.21.2
exceptiongroup==1.2.2
idna==3.7
imagesize==1.4.1
iniconfig==2.0.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
meson==1.5.1
meson-python==0.16.0
mypy==1.11.1
mypy-extensions==1.0.0
ninja==1.11.1.1
numpy==2.1.0
numpydoc==1.8.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
pluggy==1.5.0
Pygments==2.18.0
pyproject-metadata==0.8.0
pytest==8.3.2
pytest-cov==5.0.0
requests==2.32.3
ruff==0.6.2
-e git+https://github.com/fedeegiorgi/proyecto-final@1d0991e33993dd622cae5ce3a2823edf3fb1210d#egg=scikit_learn&subdirectory=src/scikit-learn-main
scipy==1.14.1
snowballstemmer==2.2.0
Sphinx==8.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
tabulate==0.9.0
threadpoolctl==3.5.0
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.2
